<div class="flex-container" fxLayout="row">

    <div id="leftsidebar" class="leftsidebar flex-item" fxFlex="250px">
        <h1>{{type=='page' ? 'Page' : 'Post'}}</h1>
        <div class="buttons-bar">
            <button mat-mini-fab matTooltip="Back"
                    color="primary" [routerLink]="'/contents'">
                <mat-icon aria-label="Back">keyboard_arrow_left</mat-icon>
            </button>
            <button mat-mini-fab matTooltip="Save Page"
                    [color]="form.dirty ? 'accent' : 'primary'"
                    [disabled]="!form.valid" (click)="save()">
                <mat-icon aria-label="Save page">save</mat-icon>
            </button>
        </div>
    </div>

    <div class="main flex-item" fxFlex>
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="formarea flex-container" fxLayout="column">

                <ul class="mat-error" *ngIf="form.errors">
                    <li *ngFor="let error of form.errors">{{error}}</li>
                </ul>

                <mat-form-field *ngIf="type=='post' || type=='page'" class="flex-item">
                    <input matInput placeholder="Title"
                           formControlName="title">
                    <mat-error *ngIf="form.controls.title.hasError('required')">
                        Title is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="type=='page'" class="flex-item">
                    <input matInput placeholder="Url Key"
                           formControlName="urlKey">
                    <mat-error *ngIf="form.controls.urlKey.hasError('required')">
                        Url Key is required
                    </mat-error>
                </mat-form-field>


                <ckeditor [build]="EditorBuild" data=""></ckeditor>


            </div>
        </form>
    </div>
</div>
