<form [formGroup]="form" (ngSubmit)="save()" >
    <div class="flex-container" fxLayout="row" fxFlex>

        <div id="leftsidebar" class="leftsidebar flex-container" fxLayout="column" fxFlex="250px">
            <h1>{{type=='page' ? 'Page' : 'Post'}}</h1>
            <div class="flex-container">
                <div class="buttons-bar flex-container" fxflex>
                    <button mat-mini-fab matTooltip="Back"
                            color="primary" [routerLink]="'/contents'">
                        <mat-icon aria-label="Back">keyboard_arrow_left</mat-icon>
                    </button>
                    <button mat-mini-fab matTooltip="Save Page"
                            [color]="form.dirty ? 'accent' : 'primary'"
                            [disabled]="!form.valid">
                        <mat-icon aria-label="Save page">save</mat-icon>
                    </button>
                </div>
            </div>
            <div class="flex-container">
                <mat-slide-toggle formControlName="enabled">Publish</mat-slide-toggle>
            </div>
            <div class="flex-container">
                <mat-form-field *ngIf="type=='post' && form.value.enabled == true">
                    <input matInput placeholder="Published Date" [matDatepicker]="publishedDatePicker"
                           formControlName="publishedDate">
                    <mat-datepicker-toggle matSuffix [for]="publishedDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #publishedDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="main flex-container" fxLayout="column" fxFlex>
            <div class="formarea flex-container" fxLayout="column" fxFlex>

                <ul class="mat-error" *ngIf="form.errors">
                    <li *ngFor="let error of form.errors">{{error}}</li>
                </ul>

                <mat-form-field *ngIf="type=='post' || type=='page'" class="flex-item">
                    <input matInput placeholder="Title"
                           formControlName="title">
                    <mat-error *ngIf="form.controls.title.hasError('required')">
                        Title is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="type=='page'" class="flex-item">
                    <input matInput placeholder="Url Key"
                           formControlName="urlKey">
                    <mat-error *ngIf="form.controls.urlKey.hasError('required')">
                        Url Key is required
                    </mat-error>
                </mat-form-field>

                <ckeditor [build]="EditorBuild" formControlName="content" [config]="editorConfig"></ckeditor>

            </div>
        </div>

    </div>
</form>