<!--controller="ImageDialogController as images"-->
<md-dialog aria-label="Images" style="width:80%; height:80%;">
    <!--<md-toolbar>-->
        <!--<div class="md-toolbar-tools">-->
            <!--<h2>Image</h2>-->
            <!--<span flex></span>-->
            <!--<md-button class="md-icon-button" ng-click="cancel()">-->
                <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
            <!--</md-button>-->
        <!--</div>-->
    <!--</md-toolbar>-->
    <md-dialog-content>
        <md-tabs md-border-bottom style="height:100%;">
            <md-tab label="image">
                <md-content class="md-padding" >

                    <div layout="column">
                        <div flex="50">

                            <md-input-container>
                                <label for="width">Width</label>
                                <input id="width" name="width" ng-model="images.dialogData.width" type="text"/>
                            </md-input-container>
                            <md-input-container>
                                <label for="height">Height</label>
                                <input id="height" name="height" ng-model="images.dialogData.height" type="text"/>
                            </md-input-container>

                        </div>
                        <div flex="50">
                            Image
                        </div>
                    </div>

                </md-content>
            </md-tab>
            <md-tab label="upload">
                <md-content class="md-padding">


                </md-content>
            </md-tab>
            <md-tab label="library">
                <md-content class="md-padding">

                    <div>
                        <div data-ng-repeat="image in images.formData" class="image-preview-frame">
                            <img ng-src="{{urlBase}}api/catalogue/image/{{image.id}}?h=160"/>
                            <!--<div layout="row" layout-align="space-between start">-->
                            <!--<a ng-click="images.remove($index)"><span class="fa fa-lg2 fa-trash"></span></a>-->
                            <!--</div>-->
                        </div>
                    </div>

                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>