<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,submodules,metadata)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${title}"></title>
	<meta th:each="tag : ${metadata}" th:name="${tag.key}" th:content="${tag.value}" />
	<meta name="_submodules" th:content="${submodules}"/>
	<script src="/wro/publiclib.js"></script>
	<link href="/wro/publiclib.css" rel="stylesheet" />
	<script src="/wro/common.js"></script>
	<script src="/wro/public.js"></script>
	<link href="/wro/public.css" rel="stylesheet" />
</head>
<body>

</body>
</html>