<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="tabs(links)" layout="row">
        <md-tabs flex="grow" class="tabsLeft" md-selected="public.tabsIndex">
            <th:block th:each="link : ${links}">
                <span th:text="${link.type.name()}"></span>
                <md-tab th:if="${link.type.name()=='ROUTE'}" th:attr="ui-sref=${link.location}" th:class="${link.cssClass}">
                    <md-tab-label th:utext="${link.title}"></md-tab-label>
                </md-tab>
            </th:block>


            <!--<md-tab ui-sref="page.home">-->
                <!--<md-tab-label>Home</md-tab-label>-->
            <!--</md-tab>-->
            <!--<md-tab ui-sref="page.blog">-->
                <!--<md-tab-label>Blog</md-tab-label>-->
            <!--</md-tab>-->
            <!--<md-tab ui-sref="page.shop">-->
                <!--<md-tab-label>Shop</md-tab-label>-->
            <!--</md-tab>-->
            <!--<md-tab ui-sref="page.about">-->
                <!--<md-tab-label>About</md-tab-label>-->
            <!--</md-tab>-->
            <!--<md-tab class="tabRight">-->
                <!--<md-tab-label><span class="fa fa-lg fa-user"></span> Account</md-tab-label>-->
            <!--</md-tab>-->
            <!--<md-tab class="tabRight">-->
                <!--<md-tab-label class="tabRight"><span class="fa fa-lg fa-shopping-cart"></span> Basket</md-tab-label>-->
            <!--</md-tab>-->
        </md-tabs>
    </div>
</body>
</html>