<div ng-controller="categories" ng-cloak="ng-cloak" class="ng-cloak">
	<md-content layout="row">

		<div layout="column" class="leftsidebar">
			<h2>Categories</h2>
			<div ui-tree="treeOptions" id="tree-root">
				<ol ui-tree-nodes ng-model="categories">
					<li ng-repeat="category in categories" ui-tree-node ng-include="'/admin/views/categories.node.html'"></li>
				</ol>
			</div>
		</div>

		<div flex class="formarea" layout="column">
			<div class="view-container">
				<div ui-view class="view-transition"></div>
			</div>
		</div>

	</md-content>
</div>
