<div ng-controller="SettingsController as settings" ng-cloak="ng-cloak" class="ng-cloak">
    <md-content layout="row">
        <form flex id="form" name="form" novalidate="true" layout="row">

            <div layout="column" class="leftsidebar" stick-to-top>
                <h2>Settings</h2>
                <div class="toolbar" layout="row" layout-align="end center">
                    <md-button ng-class="{'md-accent':form.$dirty}" ng-disabled="form.$invalid" class="md-fab md-mini md-primary" aria-label="Save" ng-click="settings.save()">
                        <md-tooltip md-direction="bottom">Save</md-tooltip>
                        <span class="fa fa-lg2 fa-save"></span>
                    </md-button>
                </div>
                <a ng-repeat="setting in settings.names" ui-sref="settings.setting({id:setting.id})" class="selectable-item" ng-class="{selected:false}">{{setting.name}}</a>
            </div>

            <div flex class="formarea" layout="column">
                <div class="view-container">
                    <div ui-view class="view-transition"></div>
                </div>
            </div>

        </form>
    </md-content>
</div>