<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/fragments/head :: head('Admin', ${adminUrl}, ${submodules}, ${metadata}, ${resources})"></head>
<body ng-app="admin" ng-strict-di="ng-strict-di">

	<div id="app">
		<header th:replace="admin/fragments/header :: header"></header>
		<pg-admin-app>Loading...</pg-admin-app>
		<footer th:replace="admin/fragments/footer :: footer(${revision})"></footer>
	</div>

	<!--<div id="page">-->

		<!--<div ng-controller="AdminController as admin" ng-cloak="ng-cloak" class="ng-cloak">-->

			<!--<md-menu-bar th:replace="admin/fragments/menubar :: menubar(${adminMenu})"></md-menu-bar>-->

			<!--<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>-->

			<!--<div layout-fill="layout-fill" id="toast-container">-->
				<!--<div id="content">-->
					<!--<div ui-view=""></div>-->
				<!--</div>-->
			<!--</div>-->

		<!--</div>-->
	<!--</div>-->

</body>
</html>