<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${title}"></title>
	<script src="/webjars/jquery/2.2.0/jquery.min.js"></script>
	<!-- Angular -->
	<script src="/webjars/angularjs/1.5.0-rc.2/angular.js"></script>
	<script src="/webjars/angularjs/1.5.0-rc.2/angular-route.min.js"></script>
	<!-- Angular Materials -->
	<script src="/webjars/angular-aria/1.5.0/angular-aria.min.js"></script>
	<script src="/webjars/angular-animate/1.5.0/angular-animate.min.js"></script>
	<script src="/webjars/angular-material/1.0.5/angular-material.min.js"></script>
	<script src="/webjars/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
	<link href="/webjars/angular-material/1.0.5/angular-material.min.css" rel="stylesheet" />
	<link href="/webjars/angular-material-icons/0.6.0/angular-material-icons.css"/>
	<!-- Other Angular Plugins -->
	<script src="/webjars/angular-tree-control/0.2.22/angular-tree-control.js"></script>
	<link href="/webjars/angular-tree-control/0.2.22/css/tree-control.css" rel="stylesheet" />
	<!-- Admin CSS -->
	<script src="/admin/js/config_theme.js"></script>
	<script src="/admin/js/md-colours.js"></script>
	<link href="/admin/css/admin.css" rel="stylesheet" />
</head>
<body>

</body>
</html>