<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,baseUrl,csrfToken,csrfHeaderName)">
	<base th:href="@{/}+${baseUrl}+@{/}"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${title}"></title>
	<!--CSRF-->
	<meta name="_csrf" th:content="${csrfToken}"/>
	<meta name="_csrf_header" th:content="${csrfHeaderName}"/>
	<script src="/wro/lib.js"></script>
	<link href="/wro/lib.css" rel="stylesheet" />
	<script src="/wro/admin.js"></script>
	<link href="/wro/admin.css" rel="stylesheet" />
</head>
<body>

</body>
</html>