<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <md-menu th:fragment="menu(menu, level)">
        <button th:if="${level==1}" th:id="'menu-'+${menu.id}" th:text="${menu.name}" class="md-default-theme md-hue-1 md-bg" ng-click="$mdOpenMenu()"></button>
        <md-button th:if="${level>1}" th:id="'menu-'+${menu.id}" th:text="${menu.name}" class="md-default-theme md-hue-1 md-bg" ng-click="$mdOpenMenu()"></md-button>
        <md-menu-content class="md-default-theme md-hue-1 md-bg">
            <th:block th:each="submenu : ${menu.submenus}">
                <md-menu-item th:if="${!submenu.divider}">
                    <!--/* Action */-->
                    <md-button th:if="${submenu.action!=null}" th:id="'menu-'+${submenu.id}" th:text="${submenu.name}" th:attr="${submenu.action.type}=${submenu.action.action}" ng-click="$mdCloseMenu()"></md-button>
                    <!--/* Submenu */-->
                    <md-menu th:if="${submenu.action==null}" th:include="fragments/menu :: menu(${submenu}, ${level+1})"></md-menu>
                </md-menu-item>
                <!--/* Divider */-->
                <md-menu-divider th:if="${submenu.divider}"></md-menu-divider>
            </th:block>
        </md-menu-content>
    </md-menu>
</body>
</html>