<div ng-controller="PageController as page" ng-cloak="ng-cloak" class="ng-cloak">
    <md-content layout="row">
        <form flex id="form" name="form" novalidate="true" layout="row">

            <div layout="column" class="leftsidebar" stick-to-top>
                <h2>Page</h2>
                <div class="toolbar" layout="row" layout-align="end center">
                    <md-button class="md-fab md-mini md-primary" aria-label="Back to Pages" ui-sref="pages">
                        <md-tooltip md-direction="bottom">Back</md-tooltip>
                        <span class="fa fa-lg2 fa-chevron-left"></span>
                    </md-button>
                    <md-button ng-class="{'md-accent':form.$dirty}" ng-disabled="form.$invalid" class="md-fab md-mini md-primary" aria-label="Save" ng-click="page.save()">
                        <md-tooltip md-direction="bottom">Save</md-tooltip>
                        <span class="fa fa-lg2 fa-save"></span>
                    </md-button>
                </div>
                <md-switch ng-model="page.formData.published" aria-label="Published">Published</md-switch>

            </div>

            <div flex class="formarea" layout="column">

                <div class="formsection" layout="row">
                    <div class="formcolumn" flex="60" layout="row">
                        <md-input-container flex="100">
                            <label for="title">Title</label>
                            <input id="title" name="title" ng-model="page.formData.title" type="text" required />
                            <div ng-messages="form.title.$error">
                                <div ng-message="required">Title is required.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="formcolumn" flex="40" layout="row">
                        <md-input-container flex="100">
                            <label for="urlKey">URL Key</label>
                            <input id="urlKey" name="urlKey" ng-model="page.formData.urlKey" ng-model-options="{ debounce: 250 }" type="text"
                                   page-url-unique="{{page.formData.id}}" />
                            <div ng-messages="form.urlKey.$error">
                                <div ng-message="pageUrlUnique">There is already a page with this URL Key.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>


                <div id="contentSection" class="formsection" layout="column">
                    <md-input-container>
                        <textarea ckeditor="page.editorOptions" id="content" name="content" ng-model="page.formData.content"></textarea>
                    </md-input-container>
                </div>

    </md-content>
</div>