<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Admin Login', ${adminUrl}, ${submodules}, ${metadata})"></head>
<body ng-app="login">
	<div id="page">
		<header th:replace="fragments/header :: header"></header>

		<div id="content" style="max-width:500px;" ng-controller="login" ng-cloak="ng-cloak" class="ng-cloak center">
			<form th:action="@{/}+${adminUrl}+@{/login}" method="post" name="loginForm" novalidate="true">
				<div layout="row">
					<h1>Login</h1>
					<div layout="column" class="formarea">
						<div th:if="${param.error}" class="errorbox">
							Invalid username or password.
						</div>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
						<md-input-container class="md-block">
							<label>Email</label>
							<input type="text" name="username" id="username" ng-model="username" ng-required="true" />
							<div ng-messages="loginForm.username.$error">
								<div ng-message="required">Email is required.</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Password</label>
							<input type="password" name="password" id="password" ng-model="password" required="true" />
							<div ng-messages="loginForm.password.$error">
								<div ng-message="required">Password is required.</div>
							</div>
						</md-input-container>
						<div layout="row" layout-align="space-between center">
							<md-checkbox ng-model="rememberme" class="md-primary" style="margin-bottom:0" name="remember-me" aria-label="Remember Me">Remember Me</md-checkbox>
							<input ng-if="rememberme" type="hidden" name="remember-me" value="on"/>
							<md-button ng-disabled="loginForm.$invalid" class="md-primary md-raised" type="submit">Log In</md-button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<footer th:replace="fragments/footer :: footer('')"></footer>
	</div>

	<!-- Controllers -->
	<script>
		var app = angular.module('login', ['ngMaterial', 'ngMessages', 'mdColors']);
		app.controller('login', function($scope) {});
		app.config(function($mdThemingProvider) {
			configTheme($mdThemingProvider);
		});
	</script>
</body>
</html>