<div ng-controller="selectProductController as selectProduct" ng-model="option">
    <div>
        <a ng-click="selectProduct.openProductSelector()" class="tool-icon" style="float:right;position:absolute;right:0;top:-30px;">
            <md-tooltip md-direction="bottom">Link Product</md-tooltip>
            <span class="fa fa-lg2 fa-link"></span>
        </a>
        <div flex layout="column">
            <div ui-grid="selectProduct.table" ng-style="selectProduct.getTableHeight()"
                 ui-grid-draggable-rows ui-grid-edit ui-grid-resize-columns></div>
        </div>
    </div>
</div>