<form *ngIf="data!==undefined" [formGroup]="form" (ngSubmit)="save()">
    <pg-admin-form [title]="data.type" [form]="form" backRoute="/users">

        <div pg-form-content>
            <mat-form-field class="flex-item">
                <input matInput placeholder="Email"
                       formControlName="username">
                <mat-error *ngIf="form.controls.username.hasError('required')">
                    Username is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="flex-item">
                <input matInput placeholder="Password" type="password"
                       formControlName="password">
                <mat-error *ngIf="form.controls.password.hasError('required')">
                    Password is required
                </mat-error>
            </mat-form-field>
        </div>

    </pg-admin-form>
</form>
