<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,baseUrl,submodules,metadata,resources)">
	<base th:href="@{/}+${baseUrl}+@{/}"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${title}"></title>
	<meta th:each="tag : ${metadata}" th:name="${tag.key}" th:content="${tag.value}" />
	<meta name="_submodules" th:content="${submodules}"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<th:block th:each="resource : ${resources.webResources}">
		<script th:if="${resource.type.name()=='JS'}" th:src="@{/admin/}+${resource.filename}"></script>
		<link th:if="${resource.type.name()=='CSS'}" th:href="@{/admin/}+${resource.filename}" rel="stylesheet"/>
	</th:block>
</head>
<body>

</body>
</html>