
/***** colours should use material theme when it is done *****/

.md-default-theme.md-bg {
    background-color: rgb(44, 62, 80);
}




/* Typography */

h1 {
    color: rgb(44, 62, 80);
    font-weight: 500;
    font-size: 1.8em;
    border-bottom: 1px solid #cccccc;
}

/* Page */
html,
body {
    margin:0;
    padding:0;
    height:100%;
    background-color: rgb(250,250,250);
    /*overflow-x: hidden;*/
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

md-content {
    overflow-x: hidden;
}

#app {
    min-height:100%;
    position:relative;
}

body {
    min-height:100%;
    position:relative;
    font-size:90%;
}


/* Header */
@font-face {
    font-family: audiowide;
    src: url('/fonts/Audiowide-Regular.ttf') format("truetype");
}

header {
    height:80px;
    padding-left:10px;
}

.logo {
    position:relative;
    color: white;
    font-family: audiowide;
}

.pigatron {
    position: absolute;
    font-size: 3em;
    top: 0;
    left: 0;
}

.industries {
    position: absolute;
    font-size: 1.3em;
    left: 4em;
    top: 2.4em;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    height: 4em;
    width: 100%;
    color: #FFFFFF;
}

footer div {
    height:100%;
    padding:10px;
}

#content {
    padding-bottom:4em;   /* Height of the footer */
    padding-top: 0;
}

.center {
    margin-left:auto;
    margin-right:auto;
}


md-progress-linear {
    position: fixed;
    top: 0;
    z-index: 100;
}


/* Top tabs */
md-tab-group {
    background-color: #eeeeee;
}

.md-tab-header {
    height:36px;
    border-bottom: 1px solid #ccc !important;
}

.md-tab-label {
    line-height:36px !important;
    opacity: 1 !important;
    min-width: 40px !important;
    padding: 0px 24px !important;
}

.md-tab-label a {
    color: rgba(0,0,0,0.54);
    text-decoration: none;
    text-transform: uppercase;
}

.md-tab-label.md-active a {
    color: rgb(44,62,80);
}

.md-tab-label:focus {
    background-color:#dbe3eb !important;
}


.tabsRight md-pagination-wrapper {
    left: inherit;
    right: 0;
}

.tabRight {
    right: 0;
    position: absolute;
}

md-ink-bar {
    background-color: #eb3573 !important;
}


/* Forms */

.formarea {
    margin-top:1em;
    padding-left: 20px;
    border-left: 1px solid #dddddd;
}

.formarea h3 {
    border-bottom: 2px solid #bbb;
    padding-bottom: 5px;
    margin-right: 40px;
}

.formsection {
    padding-right: 40px;
}

.formcolumn {
    padding-right:40px;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

md-input-container {
    padding-right: 40px;
    margin-bottom: 10px;
}

md-checkbox {
    margin-bottom: 0;
    height: 20px;
}

.errorbox {
    background-color: #f2dede;
    color: #a94442;
    font-weight: bold;
    padding:3px;
    border: 1px solid #a94442;
    border-radius: 5px;
}

md-option ._md-text {
    font-size: 1em;
}

md-option {
    height:32px;
}


/* Buttons */

md-button {
    font-weight: bold;
    color:white !important;
}

.md-button.md-fab.md-mini {
    line-height: 36px;
    width: 36px;
    height: 36px;
}

.fa-lg2 {
    font-size: 1.5em;
    line-height: .75em;
    vertical-align: -20%;
}

.fa-lg {
    vertical-align: -20%;
}

/* Font Awesome - icon position adjustments to look better in the buttons */
.fa-lg2.fa-chevron-left {
    position: relative;
    left: -1px;
}

.tool-icon {
    padding:6px;
}




/* Image previews */
.image-preview-frame {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    margin: 8px;
    display: table;
    border: 1px solid #ddd;
    border-radius: 0;
    padding: 6px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.image-preview-frame img {
    height: 160px;
    width: auto;
    max-width: 100%;
}

/* View transitions */
/*.view-container,*/
/*.animation-container {*/
    /*position: relative;*/
/*}*/

/*[ui-view].ng-enter, [ui-view].ng-leave {*/
    /*position: absolute;*/
    /*transition:all 0.2s ease-in-out;*/
    /*left: 0;*/
    /*right: 0;*/
/*}*/

/*[ui-view].ng-enter {*/
    /*transition-delay: 0.1s; !*Half of transition time*!*/
    /*opacity: 0;*/
/*}*/

/*[ui-view].ng-enter-active {*/
    /*opacity: 1;*/
/*}*/

/*[ui-view].ng-leave {*/
    /*opacity: 1;*/
/*}*/

/*[ui-view].ng-leave-active {*/
    /*opacity: 0;*/
/*}*/

