<pg-admin-table title="Content" [selected]="selected" [rows]="rows" [columns]="columns">

    <div pg-table-sidebar>
        <button mat-mini-fab color="primary" matTooltip="Add Content"
                [matMenuTriggerFor]="addMenu">
            <mat-icon aria-label="Add content">add</mat-icon>
        </button>
        <mat-menu #addMenu="matMenu">
            <button mat-menu-item [routerLink]="'/post/new'">Post</button>
            <button mat-menu-item [routerLink]="'/page/new'">Page</button>
        </mat-menu>
        <button mat-mini-fab color="primary" matTooltip="Delete Content"
                [matMenuTriggerFor]="deleteMenu">
            <mat-icon aria-label="Delete selected content">delete</mat-icon>
        </button>
        <mat-menu #deleteMenu="matMenu">
            <button mat-menu-item (click)="deleteSelected()">Delete {{selected.length}} items?</button>
        </mat-menu>
    </div>

</pg-admin-table>
