<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Admin', ${adminUrl}, ${_csrf.token}, ${_csrf.headerName})"></head>
<body ng-app="admin">
	<div id="page">
		<header th:replace="fragments/header :: header"></header>

		<div ng-controller="admin" ng-cloak="ng-cloak" class="ng-cloak">

			<md-menu-bar class="md-default-theme md-hue-1 md-bg">
				<button ui-sref="home">Home</button>
				<md-menu>
					<button class="md-default-theme md-hue-1 md-bg" ng-click="$mdOpenMenu()">Catalogue</button>
					<md-menu-content class="md-default-theme md-hue-1 md-bg">
						<md-menu-item>
							<md-button ui-sref="categories" ng-click="$mdCloseMenu()">Categories</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ui-sref="products" ng-click="$mdCloseMenu()">Products</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<button ng-click="logout()">Logout</button>
			</md-menu-bar>

			<div id="content">
				<div ui-view=""></div>
			</div>

		</div>

		<footer th:replace="fragments/footer :: footer"></footer>
	</div>
</body>
</html>