<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Admin', ${adminUrl}, ${_csrf.token}, ${_csrf.headerName})"></head>
<body ng-app="admin">
	<div id="page">
		<header th:replace="fragments/header :: header"></header>

		<div ng-controller="AdminController as admin" ng-cloak="ng-cloak" class="ng-cloak">

			<md-menu-bar th:replace="fragments/menubar :: menubar(${adminMenu})"></md-menu-bar>

			<div layout-fill="layout-fill" id="toast-container">
				<div id="content">
					<div ui-view=""></div>
				</div>
			</div>

		</div>

		<footer th:replace="fragments/footer :: footer"></footer>
	</div>
</body>
</html>