<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Admin Login')"></head>
<body>
	<div th:include="fragments/header :: header"></div>

	<div class="container">
		<h1>Login</h1>
		<div th:if="${param.error}" class="errorbox">
			Invalid username or password.
		</div>
		<form th:action="@{/}+${adminUrl}+@{/login}" method="post">
			<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
			<div class="form-group">
				<label for="username">Email:</label>
				<input type="text" class="form-control" id="username" name="username" />
			</div>
			<div class="form-group">
				<label for="password">Password:</label>
				<input type="password" class="form-control" id="password" name="password" />
			</div>
			<div class="form-group">
				<label for="remember-me">Remember me</label>
				<input type="checkbox" class="form-control" name="remember-me" id="remember-me" />
			</div>
			<button type="submit" class="btn btn-default">Log In</button>
		</form>
	</div>

	<div th:include="fragments/footer :: footer"></div>
</body>
</html>