<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Setup')"></head>
<body ng-app="setup">
	<div id="page">
		<header th:include="fragments/header :: header"></header>

		<div id="content" class="center" style="max-width:500px;" ng-controller="setup">
			<form th:action="@{/}+${setupUrl}" th:object="${configureForm}" method="post">
				<div layout="row">
					<h1>Setup</h1>
					<div layout="column" class="formarea">
						<md-input-container class="md-block">
							<label>Shop Name</label>
							<input type="text" name="shopName" required="true" />
						</md-input-container>
						<md-input-container class="md-block">
							<label>Admin Email</label>
							<input type="text" name="adminUsername" required="true" />
						</md-input-container>
						<md-input-container class="md-block">
							<label>Admin Password</label>
							<input type="password" name="adminPassword" required="true" />
						</md-input-container>
						<div layout="row" layout-align="space-between center">
							<md-button type="submit" style="background-color:#eeeeee;">Submit</md-button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<footer th:include="fragments/footer :: footer"></footer>
	</div>

	<!-- Controllers -->
	<script>
		var app = angular.module('setup', ['ngMaterial']);
		app.controller('setup', function($scope) {});
		app.config(function($mdThemingProvider) {
			configTheme($mdThemingProvider);
		});
	</script>
</body>
</html>