<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Shop Name', ${submodules}, ${metadata}, ${resources})"></head>
<body ng-app="public" ng-strict-di="ng-strict-di">
<div id="page">
    <header th:replace="fragments/header :: header"></header>

    <div ng-controller="PublicController as public" ng-cloak="ng-cloak" class="ng-cloak">
        <md-content>
            <div th:replace="fragments/tabs :: tabs(${settings.topLinks})"></div>
            <div layout="row">
                <div id="leftSidebar" class="view-container" flex="20">
                    <div ui-view="leftSidebar"></div>
                </div>
                <div id="content" class="view-container" flex="60">
                    <div ui-view="content"></div>
                </div>
                <div id="rightSidebar" class="view-container" flex="20">
                    <div ui-view="rightSidebar"></div>
                </div>
            </div>
        </md-content>
    </div>

</div>
</body>
</html>