<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Admin', ${submodules}, ${metadata})"></head>
<body ng-app="public">
<div id="page">
    <header th:replace="fragments/header :: header"></header>

    <div ng-controller="PublicController as public" ng-cloak="ng-cloak" class="ng-cloak">

        <!--<md-menu-bar th:replace="admin/fragments/menubar :: menubar(${adminMenu})"></md-menu-bar>-->

        <!--<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>-->

    </div>

</div>
</body>
</html>