<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Shop Name', ${submodules}, ${metadata})"></head>
<body ng-app="public">
<div id="page">
    <header th:replace="fragments/header :: header"></header>

    <div ng-controller="PublicController as public" ng-cloak="ng-cloak" class="ng-cloak">

        <md-content>
            <md-tabs class="md-primary md-hue-1" md-stretch-tabs="md-stretch-tabs" md-selected="public.selectedIndex">
                <md-tab label="tab1"></md-tab>
                <md-tab label="tab2"></md-tab>
                <md-tab label="tab3"></md-tab>
            </md-tabs>
        </md-content>
        <!--<md-menu-bar th:replace="admin/fragments/menubar :: menubar(${adminMenu})"></md-menu-bar>-->

        <!--<md-progress-linear md-mode="indeterminate" class="md-accent" ng-show="loading"></md-progress-linear>-->

    </div>

</div>
</body>
</html>