<div class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-click="toggle(this)">
        <span class="tree-collapse fa fa-lg" ng-class="{'fa-caret-right':collapsed, 'fa-caret-down':!collapsed}"></span>
    </a>
    <a ng-click="categories.selectCategory(category.id)">
        <span>{{category.name}}</span>
    </a>
    <md-checkbox id="selected" aria-label="Selected" ng-model="category.selected" class="md-primary" style="float:right;margin-left:10px;"
                 ng-click="product.selectCategory(category)"></md-checkbox>
</div>
<ol ui-tree-nodes="" ng-model="category.subcategories" ng-show="!collapsed">
    <li ng-repeat="category in category.subcategories" ui-tree-node ng-include="'/admin/shop/catalogue/product/categories.node.html'">
    </li>
</ol>