<div ng-controller="ProductController as product" ng-cloak="ng-cloak" class="ng-cloak">
    <md-content layout="row">
        <form flex id="form" name="form" novalidate="true" layout="row">

            <div layout="column" class="leftsidebar" stick-to-top>
                <h2>Product</h2>
                <div class="toolbar" layout="row" layout-align="end center">
                    <md-button class="md-fab md-mini md-primary" aria-label="Back to Products" ui-sref="products">
                        <md-tooltip md-direction="bottom">Back</md-tooltip>
                        <span class="fa fa-lg2 fa-chevron-left"></span>
                    </md-button>
                    <md-button ng-class="{'md-accent':form.$dirty}" ng-disabled="form.$invalid" class="md-fab md-mini md-primary" aria-label="New Product" ng-click="product.save()">
                        <md-tooltip md-direction="bottom">Save</md-tooltip>
                        <span class="fa fa-lg2 fa-save"></span>
                    </md-button>
                </div>
                <a scroll-to="item" class="selectable-item" ng-class="{selected:product.isScrolledVisible('item')}">Item</a>
                <a scroll-to="inventory" class="selectable-item" ng-class="{selected:product.isScrolledVisible('inventory')}">Inventory</a>
                <a scroll-to="priceAnchor" class="selectable-item" ng-class="{selected:product.isScrolledVisible('priceAnchor')}">Price</a>
                <a scroll-to="images" class="selectable-item" ng-class="{selected:product.isScrolledVisible('images')}">Images</a>
                <a scroll-to="categories" class="selectable-item" ng-class="{selected:product.isScrolledVisible('categories')}">Categories</a>
                <a scroll-to="options" class="selectable-item" ng-class="{selected:product.isScrolledVisible('options')}" ng-if="!product.formData.isOption">Options</a>
                <a scroll-to="meta" class="selectable-item" ng-class="{selected:product.isScrolledVisible('meta')}">Meta Info</a>
                <a scroll-to="supply" class="selectable-item" ng-class="{selected:product.isScrolledVisible('supply')}">Supply</a>
            </div>

            <div flex class="formarea" layout="column">

                <a id="item"></a>
                <h3>Item</h3>
                <div id="generalSection" class="formsection" layout="row" layout-sm="column">
                    <!-- Item column 1 -->
                    <div class="formcolumn" flex="40" layout="column">
                        <md-input-container layout="row">
                            <md-checkbox id="enabled" aria-label="Enabled" ng-model="product.formData.enabled" class="md-primary">Enabled</md-checkbox>
                            <md-checkbox id="isOption" aria-label="Option" ng-model="product.formData.isOption" class="md-primary" ng-disabled="true">
                                Option
                                <md-tooltip md-direction="bottom">This product is an option for another product</md-tooltip>
                            </md-checkbox>
                        </md-input-container>
                        <md-input-container>
                            <label for="name">Product Name</label>
                            <input id="name" name="name" ng-model="product.formData.name" type="text" required />
                            <div ng-messages="form.name.$error">
                                <div ng-message="required">Name is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label for="sku">SKU</label>
                            <input id="sku" name="sku" ng-model="product.formData.sku" ng-model-options="{ debounce: 250 }" type="text"
                                   sku-unique="{{product.formData.id}}" />
                            <div ng-messages="form.sku.$error">
                                <!--<div ng-message="required">SKU is required.</div>-->
                                <div ng-message="skuUnique">There is already a product with this SKU.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label for="urlKey">URL Key</label>
                            <input id="urlKey" name="urlKey" ng-model="product.formData.urlKey" ng-model-options="{ debounce: 250 }" type="text"
                                   url-unique="{{product.formData.id}}" />
                            <div ng-messages="form.urlKey.$error">
                                <!--<div ng-message="required">URL Key is required.</div>-->
                                <div ng-message="urlUnique">There is already a product with this URL Key.</div>
                            </div>
                        </md-input-container>
                    </div>
                    <!-- Item column 2 -->
                    <div class="formcolumn" flex="60" layout="column">
                        <md-input-container>
                            <label for="shortDescription">Short Description</label>
                            <textarea id="shortDescription" name="shortDescription" ng-model="product.formData.shortDescription" rows="50"></textarea>
                        </md-input-container>
                        <md-input-container>
                            <label for="description">Full Description</label>
                            <textarea id="description" name="description" ng-model="product.formData.description" rows="50"></textarea>
                        </md-input-container>
                    </div>
                </div>

                <a id="inventory"></a>
                <h3>Inventory</h3>
                <div id="inventorySection" class="formsection" layout="row">
                    <md-input-container>
                        <label for="quantity">Quantity</label>
                        <input id="quantity" name="quantity" ng-model="product.formData.quantity" ng-disabled="product.formData.useQuantityOnOptions" type="number" ng-pattern="/^[0-9]+$/" />
                        <div ng-messages="form.quantity.$error">
                            <div ng-message="pattern">Must be a whole number</div>
                        </div>
                    </md-input-container>
                    <md-input-container ng-if="!product.formData.isOption" layout="row">
                        <md-checkbox aria-label="Manage on Options" ng-model="product.formData.useQuantityOnOptions" class="md-primary">Use Quantity on Options</md-checkbox>
                    </md-input-container>
                    <md-input-container>
                        <label for="location">Location</label>
                        <input id="location" name="location" ng-model="product.formData.location" type="text"/>
                    </md-input-container>
                </div>

                <a id="priceAnchor"></a>
                <h3>Price</h3>
                <div id="priceSection" class="formsection" layout="row">
                    <md-input-container>
                        <label for="price">Price</label>
                        <input id="price" name="price" ng-model="product.formData.price" type="text"
                               pattern="^[0-9]*\.?[0-9]*$" ng-pattern-restrict pg-format-currency />
                    </md-input-container>
                </div>

                <a id="images"></a>
                <h3>Images</h3>
                <div id="imagesSection" class="formsection" layout="column">
                    <md-radio-group ng-model="thumbnailImageId" class="md-primary">
                        <div id="sortableImages" class="sortableContainer">
                            <div data-as-sortable="product.sortableOptions" data-ng-model="product.formData.images" class="sortableImages">
                                <div data-ng-repeat="productImage in product.formData.images" data-as-sortable-item class="image-preview-frame">
                                    <img ng-src="{{urlBase}}api/catalogue/image/{{productImage.image.id}}?h=160" data-as-sortable-item-handle/>
                                    <div layout="row" layout-align="space-between start">
                                        <md-radio-button style="margin-bottom:0;" ng-value="productImage.image.id">Thumbnail</md-radio-button>
                                        <a ng-click="product.removeImage($index)"><span class="fa fa-lg2 fa-trash"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-radio-group>

                    <lf-ng-md-file-input lf-files="product.imagesToUpload" lf-option="product.uploadOptions" lf-api="product.uploadApi"
                                         lf-placeholder="Pick Image" lf-browse-label="Search" lf-remove-label="Remove" multiple drag preview>
                    </lf-ng-md-file-input>
                </div>

                <a id="categories"></a>
                <h3>Categories</h3>
                <div id="categoriesSection" class="formsection" layout="row">
                    <div ui-tree="product.treeOptions" id="tree-root">
                        <ol ui-tree-nodes ng-model="product.categories">
                            <li ng-repeat="category in product.categories" ui-tree-node ng-include="'/admin/shop/catalogue/product/categories.node.html'"></li>
                        </ol>
                    </div>
                </div>

                <a id="options"></a>
                <h3 ng-if="!product.formData.isOption">Options</h3>
                <div ng-if="!product.formData.isOption" id="optionsSection" class="formsection" layout="column">
                    <md-button class="md-fab md-mini md-primary" aria-label="Add Option" ng-click="product.addOption()">
                        <md-tooltip md-direction="bottom">Add Option</md-tooltip>
                        <span class="fa fa-lg2 fa-plus"></span>
                    </md-button>
                    <div ng-repeat="option in product.formData.options" class="product-option shadow-box" ng-class="{above:option.waitingSelection}"
                         layout="column" style="max-width:100%;width:700px;">
                        <div layout="row">
                            <md-input-container flex="45">
                                <label for="optionName{{$index}}">Name</label>
                                <input id="optionName{{$index}}" name="optionName{{$index}}" ng-model="option.name" type="text" required />
                                <div ng-messages="form['optionName'+$index].$error">
                                    <div ng-message="required">Option name is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="45">
                                <label>Type</label>
                                <md-select ng-model="option.type">
                                    <md-option ng-repeat="(typeName, type) in product.optionTypes" value="{{typeName}}">{{type.display}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div flex="10">
                                <a ng-click="product.removeOption($index)" class="tool-icon" style="float:right;">
                                    <md-tooltip md-direction="bottom">Remove Option</md-tooltip>
                                    <span class="fa fa-lg2 fa-trash"></span>
                                </a>
                            </div>
                        </div>
                        <div class="animation-container">
                            <div ng-include="product.optionTypes[option.type].template"></div>
                        </div>
                    </div>
                </div>

                <a id="meta"></a>
                <h3>Meta Info</h3>
                <div id="metaSection" class="formsection" layout="row">
                    <div class="formcolumn" flex="40" layout="column">
                        <md-input-container>
                            <label for="metaTitle">Meta Title</label>
                            <input id="metaTitle" name="metaTitle" ng-model="product.formData.metaTitle" type="text" />
                        </md-input-container>
                        <md-input-container>
                            <label for="metaKeywords">Meta Keywords</label>
                            <textarea id="metaKeywords" name="metaKeywords" ng-model="product.formData.metaKeywords" rows="50"></textarea>
                        </md-input-container>
                    </div>
                    <div class="formcolumn" flex="60" layout="column">
                        <md-input-container>
                            <label for="metaDescription">Meta Description</label>
                            <textarea id="metaDescription" name="metaDescription" ng-model="product.formData.metaDescription" rows="50"></textarea>
                        </md-input-container>
                    </div>
                </div>

                <a id="supply"></a>
                <h3>Supply</h3>
                <div id="supplySection" class="formsection" layout="row">
                    <div class="formcolumn" flex="40" layout="column">
                        <md-input-container>
                            <label for="supplierName">Supplier</label>
                            <input id="supplierName" name="supplierName" ng-model="product.formData.supplierName" type="text" />
                        </md-input-container>
                        <md-input-container>
                            <label for="supplierItemCodeName">Item Code</label>
                            <input id="supplierItemCodeName" name="supplierItemCodeName" ng-model="product.formData.supplierItemCodeName" type="text" />
                        </md-input-container>
                        <md-input-container>
                            <label for="supplierItemLink">Item Link</label>
                            <input id="supplierItemLink" name="supplierItemLink" ng-model="product.formData.supplierItemLink" type="url" />
                            <div ng-messages="form.supplierItemLink.$error">
                                <div ng-message="url">Invalid URL</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label for="supplierPrice">Price</label>
                            <input id="supplierPrice" name="supplierPrice" ng-model="product.formData.supplierPrice" type="text"
                                   pattern="^[0-9]*\.?[0-9]*$" ng-pattern-restrict pg-format-currency />
                        </md-input-container>
                        <md-input-container>
                            <label for="quantityOnOrder">Quantity On Order</label>
                            <input id="quantityOnOrder" name="quantityOnOrder" ng-model="product.formData.quantityOnOrder" type="number" ng-pattern="/^[0-9]+$/" />
                            <div ng-messages="form.quantityOnOrder.$error">
                                <div ng-message="pattern">Must be a whole number</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="formcolumn" flex="60" layout="column">
                        <md-input-container>
                            <label for="supplierNotes">Notes</label>
                            <textarea id="supplierNotes" name="supplierNotes" ng-model="product.formData.supplierNotes" rows="50"></textarea>
                        </md-input-container>
                    </div>
                </div>

            </div>
        </form>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="sidenav-right" md-is-open="sidebarOpen" style="position:fixed;">
            <div ng-if="sidebarOpen" ng-include="'/admin/shop/catalogue/product/selector/products.selector.html'"></div>
        </md-sidenav>

    </md-content>
</div>