<div ng-controller="ProductsController as selector" config="selector" ng-cloak="ng-cloak" class="ng-cloak">
	<md-content layout="row">

		<div layout="column" class="leftsidebar">
			<md-button class="md-fab md-mini md-primary" aria-label="Select Products" ng-click="selector.selectProducts()">
				<md-tooltip md-direction="bottom">Select Products</md-tooltip>
				<span class="fa fa-lg2 fa-chevron-left"></span>
			</md-button>
			<md-button class="md-fab md-mini md-primary" aria-label="New Product" ng-click="selector.newProduct()">
				<md-tooltip md-direction="bottom">New Product</md-tooltip>
				<span class="fa fa-lg2 fa-plus"></span>
			</md-button>
			<md-button class="md-fab md-mini md-primary" aria-label="Copy Product" ng-click="selector.copyProduct()">
				<md-tooltip md-direction="bottom">Copy Product</md-tooltip>
				<span class="fa fa-lg2 fa-clone"></span>
			</md-button>
		</div>

		<div flex class="tablearea" layout="column">
			<div ui-grid="selector.table" ng-class="{loading: !selector.table.loaded, loaded: selector.table.loaded}" class="fullTable"
				 ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-pinning ui-grid-resize-columns ui-grid-selection></div>
		</div>

	</md-content>
</div>
