
    <!--Menu Bar-->
    <mat-toolbar>
        <span *ngIf="menu" id="leftMenu" style="flex: 1 1 auto;">
            <span *ngFor="let menuitem of menu.submenus">
                <button mat-button [matMenuTriggerFor]="menu.childMenu">{{menuitem.name}}</button>
                <pg-menu-item #menu [menuitems]="menuitem.submenus"></pg-menu-item>
            </span>
        </span>
    </mat-toolbar>

    <div class="flex-container" fxLayout="row">
        <div id="content" class="flex-item" fxFlex="100%">
            <router-outlet></router-outlet>
        </div>
    </div>
