@import '~@angular/material/theming';

@import 'palette';
@import 'header';

@include mat-core();

$custom-theme-primary: mat-palette($pg-palette-midnight);
$custom-theme-accent: mat-palette($pg-palette-pink, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
@include pg-app-theme($custom-theme);



/***** colours should use material theme when it is done *****/

/* Page */
html,
body {
    margin:0;
    padding:0;
    height:100%;
    background-color: rgb(250,250,250);
    /*overflow-x: hidden;*/
    font-family: Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
}

md-content {
    overflow-x: hidden;
}

#app {
    min-height:100%;
    position:relative;
}

body {
    min-height:100%;
    position:relative;
    font-size:90%;
}


/* Footer */

footer {
    position: absolute;
    bottom: 0;
    height: 4em;
    width: 100%;
    color: #FFFFFF;
}

footer div {
    height:100%;
    padding:10px;
}

#content {
    padding-bottom:4em;   /* Height of the footer */
    padding-top: 0;
}

.center {
    margin-left:auto;
    margin-right:auto;
}


/* Left Sidebar */

h1, h2 {
    text-align: right;
    padding-right: 10px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.leftsidebar {
    padding-left: 1em;
    padding-right: 1em;
}


/* Forms */

.formarea {
    margin-top:1em;
    padding-left: 20px;
    border-left: 1px solid #dddddd;
}

.formarea h3 {
    border-bottom: 2px solid #bbb;
    padding-bottom: 5px;
    margin-right: 40px;
}

.formsection {
    padding-right: 40px;
}

.formcolumn {
    padding-right:40px;
}
