
$pg-palette-midnight: (
  50: #597ea2,
  100: #507192,
  200: #476481,
  300: #3e5771,
  400: #354b60,
  500: #2c3e50,
  600: #233140,
  700: #1a242f,
  800: #11181f,
  900: #080b0e,
  A100: #698aac,
  A200: #7997b5,
  A400: #8aa4be,
  A700: #000000,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$pg-palette-pink: (
  50: #f492b3,
  100: #f27ba3,
  200: #f06493,
  300: #ee4c83,
  400: #eb3573,
  500: #E91E63,
  600: #d81557,
  700: #c1134e,
  800: #aa1145,
  900: #930e3b,
  A100: #f7a9c4,
  A200: #d81557,
  A400: #fbd8e4,
  A700: #7b0c32,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);