<pg-admin-table title="Users" [selected]="selected" [rows]="rows" [columns]="columns" editRoute="/user">

    <div pg-table-sidebar>
        <button mat-mini-fab color="primary" matTooltip="Add" [routerLink]="'/user/new'">
            <mat-icon aria-label="Add">add</mat-icon>
        </button>
        <button mat-mini-fab color="primary" matTooltip="Delete Content"
                [matMenuTriggerFor]="deleteMenu">
            <mat-icon aria-label="Delete selected content">delete</mat-icon>
        </button>
        <mat-menu #deleteMenu="matMenu">
            <button mat-menu-item (click)="deleteSelected()">Delete {{selected.length}} items?</button>
        </mat-menu>
    </div>

</pg-admin-table>
