<div class="flex-container" fxLayout="row">

    <div id="leftsidebar" class="leftsidebar flex-item" fxFlex="250px">
        <h1>Users</h1>
        <div class="buttons-bar">
            <button mat-mini-fab color="primary" matTooltip="Add User" [routerLink]="'/user/new'">
                <mat-icon aria-label="Add user">add</mat-icon>
            </button>
            <button mat-mini-fab color="primary" matTooltip="Delete User" (click)="deleteUser()">
                <mat-icon aria-label="Delete selected users">delete</mat-icon>
            </button>
        </div>
    </div>

    <div class="main flex-item" fxFlex>
        <div class="formarea flex-container" fxLayout="column">

            <ngx-datatable class="material"
                           [rows]="rows"
                           [columns]="columns"
                           [headerHeight]="30"
                           [footerHeight]="30"
                           [rowHeight]="30">
                <ngx-datatable-column>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <mat-icon aria-label="Edit user" [routerLink]="['/user', row.id]">edit</mat-icon>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column prop="username"></ngx-datatable-column>
                <ngx-datatable-column prop="email"></ngx-datatable-column>
            </ngx-datatable>

        </div>
    </div>
</div>
