<!--<md-content>-->

    <!--<pg-links></pg-links>-->

    <div class="flex-container" fxLayout="row">
        <div id="leftSidebar" class="flex-item" fxFlex="20%">
            <router-outlet name="leftSidebar"></router-outlet>
        </div>
        <div id="content" class="flex-item" fxFlex="60%">
            <router-outlet></router-outlet>
        </div>
        <div id="rightSidebar" class="flex-item" fxFlex="20%">
            <router-outlet name="rightSidebar"></router-outlet>
        </div>
    </div>

<!--</md-content>-->
